header {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: left;
    color: #9C0DFF;
    padding: 15px;
    box-shadow: 0px 10px 14px -9px rgba(0,0,0,0.42);
}

.App-logo {
    height: 100px;
    border: 1.5px solid #CA0CE8;
}

.App-header {
    padding-left: 15px;
}