* {
  box-sizing: border-box;
}

body {
  /* background-color: #CA0CE8; */
  margin: 0;
  font-family: 'Lato', sans-serif;
  color: #9C0DFF;
}

/* Color Theme Swatches in Hex */
.stilleto-red { color: #FF1E0D; }
.wine-red { color: #E80C43; }
.hot-pink { color: #FF01C1; }
.grape { color: #CA0CE8; }
.rich-purple { color: #9C0DFF; }

/* Color Theme Swatches in RGBA */
.My-Color-Theme-1-rgba { color: rgba(255, 30, 13, 1); }
.My-Color-Theme-2-rgba { color: rgba(232, 12, 67, 1); }
.My-Color-Theme-3-rgba { color: rgba(255, 1, 193, 1); }
.My-Color-Theme-4-rgba { color: rgba(202, 12, 232, 1); }
.My-Color-Theme-5-rgba { color: rgba(156, 13, 255, 1); }

/* Color Theme Swatches in HSLA */
.My-Color-Theme-1-hsla { color: hsla(4, 100, 52, 1); }
.My-Color-Theme-2-hsla { color: hsla(345, 90, 47, 1); }
.My-Color-Theme-3-hsla { color: hsla(314, 100, 50, 1); }
.My-Color-Theme-4-hsla { color: hsla(291, 90, 47, 1); }
.My-Color-Theme-5-hsla { color: hsla(275, 100, 52, 1); }
